<a href="https://colab.research.google.com/github/ankitc21/finance_causal_rl/blob/main/notebooks/02_data_acquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import drive
drive.mount('/content/drive')

BASE_PATH = "/content/drive/MyDrive/Finance_Causal_RL"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install fredapi
!pip install kaggle

Collecting fredapi
  Downloading fredapi-0.5.2-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from fredapi) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.17.0)
Downloading fredapi-0.5.2-py3-none-any.whl (11 kB)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.2
Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.6)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle) (0.5.1)

In [ ]:

import os
os.environ["KAGGLE_API_TOKEN"] = "KGAT_21607ac1dd9d3213b987adf419b24d85"

In [ ]:
!kaggle datasets download -d wordsforthewise/lending-club

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/cli.py", line 68, in main
    out = args.func(**command_args)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 1741, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

In [8]:
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [9]:
!kaggle competitions list

ref                                                                                 deadline             category                reward  teamCount  userHasEntered
----------------------------------------------------------------------------------  -------------------  ---------------  -------------  ---------  --------------
https://www.kaggle.com/competitions/ai-mathematical-olympiad-progress-prize-3       2026-04-15 23:59:00  Featured         2,207,152 Usd       2347           False
https://www.kaggle.com/competitions/vesuvius-challenge-surface-detection            2026-02-27 23:59:00  Research           200,000 Usd       1361           False
https://www.kaggle.com/competitions/stanford-rna-3d-folding-2                       2026-03-25 23:59:00  Featured           100,000 Usd        945           False
https://www.kaggle.com/competitions/med-gemma-impact-challenge                      2026-02-24 23:59:00  Featured           100,000 Usd        160           False
https://www.kaggle.com/competitions/deep-past-initiative-machine-translation        2026-03-23 23:59:00  Featured            50,000 Usd       1998           False
https://www.kaggle.com/competitions/playground-series-s6e2                          2026-02-28 23:59:00  Playground               Kudos       2809           False
https://www.kaggle.com/competitions/titanic                                         2030-01-01 00:00:00  Getting Started      Knowledge      11939           False
https://www.kaggle.com/competitions/home-data-for-ml-course                         2030-01-01 23:59:00  Getting Started      Knowledge       4360           False
https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques     2030-01-01 00:00:00  Getting Started      Knowledge       4048           False
https://www.kaggle.com/competitions/spaceship-titanic                               2030-01-01 00:00:00  Getting Started      Knowledge       2039           False
https://www.kaggle.com/competitions/digit-recognizer                                2030-01-01 00:00:00  Getting Started      Knowledge        880           False
https://www.kaggle.com/competitions/store-sales-time-series-forecasting             2030-06-30 23:59:00  Getting Started      Knowledge        729           False
https://www.kaggle.com/competitions/nlp-getting-started                             2030-01-01 00:00:00  Getting Started      Knowledge        474           False
https://www.kaggle.com/competitions/llm-classification-finetuning                   2030-07-01 23:59:00  Getting Started      Knowledge        236           False
https://www.kaggle.com/competitions/connectx                                        2030-01-01 00:00:00  Getting Started      Knowledge        210           False
https://www.kaggle.com/competitions/tpu-getting-started                             2030-06-03 23:59:00  Getting Started      Knowledge        137           False
https://www.kaggle.com/competitions/gan-getting-started                             2030-07-01 23:59:00  Getting Started      Knowledge         55           False
https://www.kaggle.com/competitions/contradictory-my-dear-watson                    2030-07-01 23:59:00  Getting Started      Knowledge         19           False
https://www.kaggle.com/competitions/hull-tactical-market-prediction                 2026-06-16 23:59:00  Featured           100,000 Usd       3677           False
https://www.kaggle.com/competitions/recodai-luc-scientific-image-forgery-detection  2026-05-06 23:59:00  Research            55,000 Usd       1564           False

In [10]:
!kaggle datasets download -d wordsforthewise/lending-club

Dataset URL: https://www.kaggle.com/datasets/wordsforthewise/lending-club
License(s): CC0-1.0
Downloading lending-club.zip to /content
 98% 1.24G/1.26G [00:15<00:00, 157MB/s]
100% 1.26G/1.26G [00:15<00:00, 88.6MB/s]

In [11]:
!unzip lending-club.zip -d /content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club

Archive:  lending-club.zip
  inflating: /content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/accepted_2007_to_2018Q4.csv.gz
  inflating: /content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/accepted_2007_to_2018q4.csv/accepted_2007_to_2018Q4.csv
  inflating: /content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/rejected_2007_to_2018Q4.csv.gz
  inflating: /content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/rejected_2007_to_2018q4.csv/rejected_2007_to_2018Q4.csv

In [43]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
import os

os.listdir("/content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club")

['accepted_2007_to_2018Q4.csv.gz',
 'accepted_2007_to_2018q4.csv',
 'rejected_2007_to_2018Q4.csv.gz',
 'rejected_2007_to_2018q4.csv']

In [45]:
import os

print(os.path.exists("/content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/accepted_2007_to_2018q4.csv"))

True

In [48]:
import os

base_path = "/content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/accepted_2007_to_2018q4.csv"

print("Inside directory:")
print(os.listdir(base_path))

Inside directory:
['accepted_2007_to_2018Q4.csv']

In [53]:
file_path = "/content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/accepted_2007_to_2018q4.csv/accepted_2007_to_2018Q4.csv"

import pandas as pd
df = pd.read_csv(file_path, low_memory=False)

print(df.shape)

(2260701, 151)

In [58]:
df.columns

Index(['issue_d', 'loan_status', 'int_rate', 'annual_inc', 'dti', 'grade',
       'funded_amnt'],
      dtype='object')

In [54]:
columns_needed = [
    "issue_d",
    "loan_status",
    "int_rate",
    "annual_inc",
    "dti",
    "grade",
    "funded_amnt"
]

df = df[columns_needed]

print(df.shape)
df.head()

(2260701, 7)

    issue_d loan_status  int_rate  annual_inc    dti grade  funded_amnt
0  Dec-2015  Fully Paid     13.99     55000.0   5.91     C       3600.0
1  Dec-2015  Fully Paid     11.99     65000.0  16.06     C      24700.0
2  Dec-2015  Fully Paid     10.78     63000.0  10.78     B      20000.0
3  Dec-2015     Current     14.85    110000.0  17.06     C      35000.0
4  Dec-2015  Fully Paid     22.45    104433.0  25.37     F      10400.0

In [55]:
# Cleaning the Date Column
df["issue_d"] = pd.to_datetime(df["issue_d"], format="%b-%Y")

df = df[(df["issue_d"] >= "2007-01-01") &
        (df["issue_d"] <= "2018-12-31")]

print(df["issue_d"].min(), df["issue_d"].max())

2007-06-01 00:00:00 2018-12-01 00:00:00

In [56]:
df.head()

     issue_d loan_status  int_rate  annual_inc    dti grade  funded_amnt
0 2015-12-01  Fully Paid     13.99     55000.0   5.91     C       3600.0
1 2015-12-01  Fully Paid     11.99     65000.0  16.06     C      24700.0
2 2015-12-01  Fully Paid     10.78     63000.0  10.78     B      20000.0
3 2015-12-01     Current     14.85    110000.0  17.06     C      35000.0
4 2015-12-01  Fully Paid     22.45    104433.0  25.37     F      10400.0

This is not arbitrary. This defines your dependent variable.

We define default as:

Charged Off

Default

Late (31â€“120 days)

Does not meet credit policy (charged off)

In [59]:
default_status = [
    "Charged Off",
    "Default",
    "Late (31-120 days)",
    "Does not meet the credit policy. Status:Charged Off"
]

df["default_flag"] = df["loan_status"].isin(default_status).astype(int)

print("Average Default Rate:", df["default_flag"].mean())

Average Default Rate: 0.12864648856001853

Cleaning interest rate

In [61]:
df["int_rate"].describe()

count    2.260668e+06
mean     1.309283e+01
std      4.832138e+00
min      5.310000e+00
25%      9.490000e+00
50%      1.262000e+01
75%      1.599000e+01
max      3.099000e+01
Name: int_rate, dtype: float64

For watching macro data frequency

In [62]:
df["month"] = df["issue_d"].dt.to_period("M")

monthly_data = df.groupby("month").agg(
    default_rate=("default_flag", "mean"),
    avg_int_rate=("int_rate", "mean"),
    avg_income=("annual_inc", "mean"),
    avg_dti=("dti", "mean"),
    total_loans=("default_flag", "count")
).reset_index()

monthly_data["month"] = monthly_data["month"].dt.to_timestamp()

print(monthly_data.shape)
monthly_data.head()

(139, 6)

       month  default_rate  avg_int_rate    avg_income    avg_dti  total_loans
0 2007-06-01      0.125000      9.814583  56048.869565   8.690417           24
1 2007-07-01      0.111111     11.158571  66184.774194   8.779683           63
2 2007-08-01      0.270270     11.543514  75695.152778   9.761622           74
3 2007-09-01      0.245283     12.463208  58814.679245   8.310943           53
4 2007-10-01      0.323810     12.438476  55411.033524  10.693524          105

compressed 2.2 million loans into:

â€¢ A monthly systemic default rate
â€¢ A monthly credit pricing signal
â€¢ A macro-credit time panel