<a href="https://colab.research.google.com/github/ankitc21/finance_causal_rl/blob/main/notebooks/02_data_acquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
import os

print(os.listdir("/content/drive/MyDrive"))

['Colab Notebooks', 'AVSEQ02.DAT', 'Getting started.pdf', 'IMG-20171028-WA0012.jpg', 'IMG-20171028-WA0014.jpg', 'IMG-20171028-WA0013.jpg', 'IMG-20171028-WA0011.jpg', 'IMG-20171028-WA0009.jpg', 'IMG-20171028-WA0008.jpg', 'IMG-20171028-WA0007.jpg', 'IMG-20171028-WA0006.jpg', 'IMG-20171028-WA0010.jpg', 'IMG-20171028-WA0003.jpg', 'IMG-20171028-WA0001.jpg', 'IMG-20171028-WA0002.jpg', 'VID-20171026-WA0002.mp4', 'Screenshot_20171013-192948.png', 'Screenshot_20171008-211203.png', 'orca-image-1506583801310.jpg_1506583801448.jpeg', 'orca-image-1506584464465.jpg_1506584464618.jpeg', 'Screenshot_20171026-090143.png', 'orca-image-1506584277866.jpg_1506584278027.jpeg', '20171022_161126 (1).jpg', '20171022_161017 (1).jpg', '20171022_105413 (1).jpg', '20171021_195916.jpg', '20171021_195912.jpg', '20171021_195736.jpg', '20171021_195724.jpg', '20171021_195734.jpg', '20171021_195907.jpg', '20171021_195109.jpg', '20171021_195908.jpg', '20171021_195102.jpg', '20171021_195107.jpg', 'Sample papaer', '20170707_154652.jpg', '20171021_194920.jpg', '20171021_195001.jpg', '20171021_195010.jpg', '20171021_194918.jpg', '20171021_194847.jpg', '20171021_194908.jpg', '20171021_194839.jpg', '20171021_194832.jpg', '20171021_194821.jpg', '20171021_194830.jpg', '20171021_194328.jpg', '20171021_194306.jpg', '20171021_194314.jpg', '20171021_193032.jpg', '20171021_194241.jpg', '20171021_194237.jpg', '20171021_193030.jpg', '20171021_193026.jpg', '20171021_190020.jpg', '20171021_190018.jpg', '20171021_190012.jpg', '20171021_190008.jpg', '20171021_185934.jpg', '20171021_185917.jpg', '20171021_185902.jpg', '20171021_185855.jpg', '20171021_185854.jpg', '20171021_184200.jpg', '20171021_184145.jpg', '20171021_184149.jpg', '20171021_184141.jpg', '20171021_184128.jpg', '20171021_184126.jpg', '20171021_184124.jpg', '20171021_184042.jpg', '20171021_184105.jpg', '20171021_184037.jpg', '20171021_184024.jpg', '20171021_184020.jpg', '20171021_184033.jpg', '20171021_183955.jpg', '20171021_183948.jpg', '20171021_183944.jpg', '20171021_183930.jpg', '20171021_183421.jpg', '20171021_183022.jpg', '20171021_183014.jpg', '20171021_183007.jpg', '20171021_183011.jpg', '20171021_182940.jpg', '20171021_183004.jpg', '20171021_183002.jpg', '20171021_182919.jpg', '20171021_182916.jpg', '20171021_182908.jpg', '20171021_180537.jpg', '20171021_180544.jpg', '20171021_180529.jpg', '20171021_180421.jpg', '20171021_180523.jpg', '20171021_175546.jpg', '20171021_175543.jpg', '20171021_175538.jpg', '20171021_175526.jpg', '20171021_175528.jpg', '20171021_175523.jpg', '20171021_175446.jpg', '20171021_173937.jpg', '20171021_173935.jpg', '20171021_173844.jpg', '20171021_173925.jpg', '20171021_173842.jpg', '20171021_173833.jpg', '20171021_173045.jpg', '20171021_173049.jpg', '20171021_173000.jpg', '20171021_172959.jpg', '20171021_172559.jpg', '20171021_172541.jpg', '20171021_172611.jpg', '20171021_172538.jpg', '20171021_172518.jpg', '20171021_172503.jpg', '20171021_172530.jpg', '20171021_172500.jpg', '20171021_172443.jpg', '20171021_172404.jpg', '20171021_171303.jpg', '20171021_171111.jpg', '20171021_171252.jpg', '20171021_165704.jpg', '20171021_115442.jpg', '20171021_115424.jpg', '20171021_115437.jpg', '20171021_113906.jpg', '20171021_113834.jpg', '20171021_113403.jpg', '20171021_113357.jpg', '20171021_113345.jpg', '20171021_113344.jpg', '20171019_174855.jpg', '20171019_174848.jpg', '20171021_194909.mp4', '20171019_174741.jpg', '20171019_174733.jpg', '20171019_174639.jpg', '20171019_174634.jpg', '20171019_174645.jpg', '20171019_174625.jpg', '20171019_140831.jpg', '20171019_140825.jpg', '20171019_102612.jpg', '20171010_185059.jpg', '20171010_185038.jpg', '20171010_185032.jpg', '20171010_182922.jpg', 'final exam model question paper of class 8 .pdf', '20171022_105413.jpg', '20171022_161017.jpg', '20171022_161126.jpg', '20171029_201452.jpg', '20171029_201520.jpg', '20180107_142122.jpg', '20180107_142128.jpg', '20180111_162009.jpg', '20180111_162014.jpg', '20180111_162018.jpg', '20180111_163511.jpg', '20180114_143601.jpg', '20180114_143845.jpg', '20180114_143902.jpg', '20180121_185730.jpg', '20180121_185738.jpg', '20180121_185740.jpg', '20180122_124021.jpg', '20180122_124137.jpg', '20180122_124514.jpg', '20180122_124548.jpg', '20180122_125332.jpg', '20180122_125740.jpg', '20180122_130941.jpg', '20180122_133138.jpg', '20180122_133149.jpg', '20180122_143504.jpg', '20180127_114532.jpg', 'Screenshot_20180126-230005.png', 'Screenshot_20180126-230002.png', 'Screenshot_20180126-225947.png', 'Screenshot_20180126-225509.png', 'Screenshot_20180126-210134.png', 'Screenshot_20180125-225809.png', '20180129_205259.jpg', '20180129_205307.jpg', '20180129_205314.jpg', '20180129_205340.jpg', '20180129_205349.jpg', '20180129_205359.jpg', '20180129_205426.jpg', '20180129_205434.jpg', '20180131_131651.jpg', '20180131_131658.jpg', '20180131_131702.jpg', '20180131_132747.jpg', '20180131_142715.jpg', '20180131_143446.jpg', '20180131_143449.jpg', '20180201_132207.jpg', '20180201_132651.jpg', '20180201_211039.jpg', '20180201_211105.jpg', '20180203_205934.jpg', '20180203_215455.jpg', '20180203_220743.jpg', '20180122_125301.jpg', '20180129_205327.jpg', '20180129_205334.jpg', '20180129_210348.jpg', '20180129_210354.jpg', '20180131_142914.jpg', 'AVSEQ03.DAT', 'VTS_02_0.IFO', 'VTS_02_5.VOB', 'VTS_01_0.IFO', 'VIDEO_TS.IFO', '20180107_142042.jpg', '20180107_142052.jpg', '20180120_141113.jpg', '20180122_124106.jpg', '20180122_124157.jpg', '20180122_125320.jpg', '20180122_130912.jpg', '20180122_130918.jpg', '20180122_131126.jpg', '20180122_131647.jpg', '20180122_132120.jpg', '20180122_132122.jpg', '20180122_132222.jpg', '20180122_132242.jpg', '20180122_132534.jpg', '20180122_133458.jpg', '20180122_133918.jpg', '20180122_140858.jpg', '20180122_140905.jpg', '20180122_140952.jpg', '20180122_141949.jpg', '20180122_142110.jpg', '20180122_142921.jpg', '20180122_142939.jpg', '20180122_143450.jpg', '20180122_143527.jpg', 'Screenshot_20180126-225953.png', '20180131_132655.jpg', '20180131_132802.jpg', '20180201_120810.jpg', '20180203_205940.jpg', '20180203_205944.jpg', '20180203_205952.jpg', '20180203_220455.jpg', '20180203_220550.jpg', '20180131_143345.mp4', '20180131_143458.mp4', '20180201_132145.mp4', '20180201_210946.mp4', '20180201_211433.mp4', '20180201_211812.mp4', '20180201_214804.mp4', 'herons formula.pdf', 'Google Photos', 'solution', 'Auto Call Recorder', 'Untitled document (4).gdoc', 'Board examination Circular_2019.pdf', 'Class 10 important links ..gdoc', 'Untitled document (3).gdoc', 'NTSE_APPLICATION_WB1LFJ1567235684.pdf', 'Class-10-HHW-with-Instruction.pdf', '15935844793803700035270450458105.jpg', '15935846802866179236924846758090.jpg', '15941887463203615032283006913606.jpg', '15941890723764857300217305970938.jpg', '15947940194217483815220947614920.jpg', '15947940404067245596141742334453.jpg', '15947940623965457627298652900623.jpg', '15947940835837090362270215354001.jpg', 'Class_XI-A_2021.xlsx', 'computer project.pdf', 'ANKIT CHATTOPADHYAY,CLASS11A,ROLL-05.pdf', 'dmv-hcqe-web - May 11, 2021 (2).pdf', 'dmv-hcqe-web - May 11, 2021 (1).pdf', 'dmv-hcqe-web - May 11, 2021.pdf', 'AVSEQ02.mp4', 'AVSEQ03.mp4', 'AVSEQ01 (2).mp4', 'AVSEQ01.mp4', 'Classroom', 'Untitled spreadsheet (3).gsheet', 'MonthlyExpenseStatement_H00704_Aug_2023_638295236487156669 (2).gsheet', 'MonthlyExpenseStatement_H00704_Aug_2023_638295236487156669 (1).gsheet', 'MonthlyExpenseStatement_H00704_Aug_2023_638295236487156669.gsheet', 'A914138123005 Ankit Chattopadhyay.pdf', 'Business Communication.docx', 'give me the Rolls-Royace sales report with their balance sheet with cost of each car and quantity sold for each car.gsheet', 'Taking a  suitable example , demonstrate the use of pivot table..gsheet', 'Difference between Spiral Model and Win-Win spiral model. 5 short points of each..gsheet', 'Untitled spreadsheet (2).gsheet', 'proof.pdf', 'AnkitChattopadhyay(Bsc-DataScience-sem-3)005 (3).docx', 'AnkitChattopadhyay(Bsc-DataScience-sem-3)005 (2).docx', 'AnkitChattopadhyay(Bsc-DataScience-sem-3)005 (1).docx', 'AnkitChattopadhyay(Bsc-DataScience-sem-3)005.docx', 'OOPS in Java.gdoc', 'ANKIT CHATTOPADHYAY(CV).pdf', 'Ankit(CV).pdf', 'can i get the data in excel As column Name as:....gsheet', 'Untitled spreadsheet (1).gsheet', 'Search keyword report(wb jan18).gsheet', 'Key words(Website builder).gsheet', 'Data fill March 2025.gsheet', 'Lending Main.gsheet', 'Noteful Backup', 'Untitled spreadsheet.gsheet', 'Data Science from Scratch by Joel Grus_copy.pdf', 'Trading System.gsheet', 'Untitled document (2).gdoc', 'Untitled document (1).gdoc', 'WPR-5_copy.pdf', 'make 2 dataframes: train and test;\nLinear Regress... (1).gsheet', 'make 2 dataframes: train and test;\nLinear Regress....gsheet', 'make only for train data.gsheet', 'pdfcoffee.com_case-in-point-11-complete-case-interview-preparation-by-cosentino-marc-patrick-5-pdf-free_copy.pdf', 'Leads.gsheet', 'ankitchattopadhyay_A914138123005_bsc(h)datascience.jpg', 'Resume_ankitchattopadhyay_A914138123005_bsc(h)datascience.pdf', 'ankit_cv (1).pdf', 'pdf_automation.gscript', 'ankit_cv.pdf', 'Projects', 'Untitled project.gscript', 'ankit_updated_cv (2).pdf', 'ankit_updated_cv (1).pdf', 'ankit_updated_cv.pdf', 'Untitled document.gdoc', 'Aoc monitor invoice.pdf', 'Finance_Causal_RL', 'Download']

In [39]:
print(os.listdir("/content/drive/MyDrive/Finance_Causal_RL"))

['data', 'models', 'experiments', 'logs']

In [40]:
print(os.listdir("/content/drive/MyDrive/Finance_Causal_RL/data"))

['raw', 'processed']

In [41]:
print(os.listdir("/content/drive/MyDrive/Finance_Causal_RL/data/raw"))

['lending_club']

In [42]:
print(os.listdir("/content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club"))

['accepted_2007_to_2018Q4.csv.gz', 'rejected_2007_to_2018Q4.csv.gz', 'accepted_2007_to_2018q4.csv', 'rejected_2007_to_2018q4.csv']

In [44]:
import os

base_path = "/content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club"

for f in os.listdir(base_path):
    full_path = os.path.join(base_path, f)
    print(f, "->", "DIR" if os.path.isdir(full_path) else "FILE")

accepted_2007_to_2018Q4.csv.gz -> FILE
rejected_2007_to_2018Q4.csv.gz -> FILE
accepted_2007_to_2018q4.csv -> DIR
rejected_2007_to_2018q4.csv -> DIR

accepted_2007_to_2018Q4.csv.gz  -> FILE ✅
accepted_2007_to_2018q4.csv     -> DIR ❌

In [1]:
import pandas as pd
import os

base_path = "/content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club"

file_path = os.path.join(base_path, "accepted_2007_to_2018Q4.csv.gz")

print("Loading:", file_path)

df = pd.read_csv(file_path, compression="gzip", low_memory=False)

print("Shape:", df.shape)
df.head()

Loading: /content/drive/MyDrive/Finance_Causal_RL/data/raw/lending_club/accepted_2007_to_2018Q4.csv.gz
Shape: (2260701, 151)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
print(df.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [3]:
print(df["loan_status"].value_counts())

loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64

In [4]:
valid_status = ["Fully Paid", "Charged Off", "Default"]

df = df[df["loan_status"].isin(valid_status)].copy()

print("Remaining shape:", df.shape)
print("New distribution:")
print(df["loan_status"].value_counts())

Remaining shape: (1345350, 151)
New distribution:
loan_status
Fully Paid     1076751
Charged Off     268559
Default             40
Name: count, dtype: int64

In [7]:
valid_status = ["Fully Paid", "Charged Off", "Default"]
df = df[df["loan_status"].isin(valid_status)].copy()

df["default_flag"] = df["loan_status"].isin(
    ["Charged Off", "Default"]
).astype(int)

print("Default rate:", df["default_flag"].mean())

Default rate: 0.19964990522912254

In [9]:
cols = [
    "loan_amnt",
    "int_rate",
    "annual_inc",
    "dti",
    "emp_length",
    "fico_range_low",
    "fico_range_high",
    "issue_d",
    "default_flag"
]

df = df[cols].copy()

In [11]:
print(df["int_rate"].dtype)
print(df["int_rate"].head())

float64
0    13.99
1    11.99
2    10.78
4    22.45
5    13.44
Name: int_rate, dtype: float64

In [12]:
df["int_rate"] = df["int_rate"] / 100

In [13]:
print(df["emp_length"].dtype)
print(df["emp_length"].head())

object
0    10+ years
1    10+ years
2    10+ years
4      3 years
5      4 years
Name: emp_length, dtype: object

In [15]:
df["emp_length"] = df["emp_length"].str.extract(r'(\d+)')
df["emp_length"] = df["emp_length"].astype(float)

TASK 2

In [16]:
df["fico_avg"] = (df["fico_range_low"] + df["fico_range_high"]) / 2

df["issue_d"] = pd.to_datetime(df["issue_d"], format="%b-%Y")
df["issue_month"] = df["issue_d"].dt.to_period("M")

In [17]:
df = df.dropna(subset=[
    "loan_amnt",
    "int_rate",
    "annual_inc",
    "dti",
    "fico_avg",
    "issue_month"
])

In [18]:
print("Shape after cleaning:", df.shape)
print("Default rate:", df["default_flag"].mean())

Shape after cleaning: (1344976, 11)
Default rate: 0.1996526332068379

In [27]:
import os
os.environ["FRED_API_KEY"] = "51da90c073c0bc1f97b9ea3c5ad77043"

In [29]:
from fredapi import Fred

fred = Fred(api_key=os.environ["FRED_API_KEY"])

start_date = "2007-01-01"
end_date = "2023-12-31"

unrate = fred.get_series("UNRATE", start_date, end_date)
tbill = fred.get_series("DGS3MO", start_date, end_date)
baa_spread = fred.get_series("BAA10Y", start_date, end_date)
gdp = fred.get_series("GDP", start_date, end_date)

In [30]:
import pickle

macro_raw = {
    "UNRATE": unrate,
    "DGS3MO": tbill,
    "BAA10Y": baa_spread,
    "GDP": gdp
}

with open("data/raw/fred_raw.pkl", "wb") as f:
    pickle.dump(macro_raw, f)

In [32]:
macro = pd.DataFrame({
    "unemployment": unrate,
    "tbill_3m": tbill,
    "baa_spread": baa_spread
})

macro = macro.resample("M").last()

gdp = gdp.resample("Q").last()
gdp_growth = gdp.pct_change()
gdp_growth = gdp_growth.resample("M").ffill()

macro["gdp_growth"] = gdp_growth
macro.index = macro.index.to_period("M")

macro.head()

/tmp/ipython-input-3517668505.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  macro = macro.resample("M").last()
/tmp/ipython-input-3517668505.py:9: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  gdp = gdp.resample("Q").last()
/tmp/ipython-input-3517668505.py:11: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  gdp_growth = gdp_growth.resample("M").ffill()

         unemployment  tbill_3m  baa_spread  gdp_growth
2007-01           4.6      5.12        1.57         NaN
2007-02           4.5      5.16        1.60         NaN
2007-03           4.4      5.04        1.75         NaN
2007-04           4.5      4.91        1.68         NaN
2007-05           4.4      4.73        1.60         NaN

In [33]:
df = df.merge(
    macro,
    left_on="issue_month",
    right_index=True,
    how="left"
)

df = df.dropna(subset=[
    "unemployment",
    "tbill_3m",
    "baa_spread",
    "gdp_growth"
])

print("Final shape:", df.shape)
print("Final default rate:", df["default_flag"].mean())

Final shape: (1344976, 15)
Final default rate: 0.1996526332068379

In [34]:
df.to_csv("data/processed/lending_club_with_macro.csv", index=False)

In [36]:
%cd /content/drive/MyDrive/Finance_Causal_RL

/content/drive/MyDrive/Finance_Causal_RL

In [37]:
!ls -a

data  experiments  logs  models

In [40]:
%cd /content/drive/MyDrive

/content/drive/MyDrive

In [43]:
!mv Finance_Causal_RL Finance_Causal_RL_backup

mv: cannot stat 'Finance_Causal_RL': No such file or directory

In [44]:
!git clone https://github.com/ankitc21/finance_causal_rl.git

Cloning into 'finance_causal_rl'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (53/53), done.
remote: Compressing objects: 100% (44/44), done.
remote: Total 53 (delta 20), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (53/53), 72.05 KiB | 4.50 MiB/s, done.
Resolving deltas: 100% (20/20), done.

In [46]:
%cd finance_causal_rl
!ls -a

/content/drive/MyDrive/finance_causal_rl
data  experiments  .git  models  notebooks

In [49]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [50]:
with open(".gitignore", "w") as f:
    f.write("""
data/raw/*
data/processed/*
*.csv
*.pkl
""")

In [52]:
!git config --global user.name "Ankit"
!git config --global user.email "ankit004c@example.com"

In [54]:
!git add .gitignore
!git commit -m "Add gitignore to prevent large data push"
!git push

On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean
fatal: could not read Username for 'https://github.com': No such device or address

In [55]:
!git config --global --list

user.name=Ankit
user.email=ankit004c@example.com

fatal: 'finance_causal_rl' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.